.cta-script{
  box-shadow: -4px 8px 20px 4px #0000001A;
  border: 1px solid #EBEBEB;
  height: fit-content;
  .text-build-content{
    text-align: left;
  }
  iframe{
    body{
      .pas-text{
      }
    }
  }
}
