@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Black.otf");
  font-weight: $font-weight-black;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Black Italic.otf");
  font-weight: $font-weight-black;
  font-style: italic;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Bold.otf");
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Bold Italic.otf");
  font-weight: $font-weight-bold;
  font-style: italic;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Book.otf");
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Book Italic.otf");
  font-weight: $font-weight-normal;
  font-style: italic;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Light.otf");
  font-weight: $font-weight-light;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/SVN-Gotham Light Italic.otf");
  font-weight: $font-weight-light;
  font-style: italic;
}

@font-face {
  font-family: Conthrax;
  src: url("../fonts/Conthrax/ConthraxBold.otf");
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: Conthrax;
  src: url("../fonts/Conthrax/ConthraxBoldItalic.otf");
  font-weight: $font-weight-bold;
  font-style: italic;
}

@font-face {
  font-family: Conthrax;
  src: url("../fonts/Conthrax/ConthraxHeavy.otf");
  font-weight: $font-weight-black;
}

@font-face {
  font-family: Conthrax;
  src: url("../fonts/Conthrax/ConthraxHeavyItalic.otf");
  font-weight: $font-weight-black;
  font-style: italic;
}
