@font-face {
  font-family: Gotham;
  src: url(src/fonts/Gotham/GothamMedium.ttf);
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: Gotham;
  src: url(src/fonts/Gotham/gotham-bold.woff);
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: Gotham;
  src: url(src/fonts/Gotham/gothamLight.ttf);
  font-weight: $font-weight-light;
}

@font-face {
  font-family: Conthrax;
  src: url(src/fonts/Conthrax/conthrax_bold-webfont.woff) format("woff"), url(src/fonts/Conthrax/conthrax_bold-webfont.woff2) format("woff2");
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: Conthrax;
  src: url(src/fonts/Conthrax/conthrax_heavy-webfont.woff) format("woff"), url(src/fonts/Conthrax/conthrax_heavy-webfont.woff2) format("woff2");
  font-weight: $font-weight-black;
}
