@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "fonts";
@import "animation";

@import "../components/Header/Header";
@import "../components/Footer/Footer";
@import "../components/FAQS/Faqs";
@import "../components/TransportRoutes/TransportRoutes";
@import "../components/Services/Services";
@import "../components/Safety/Safety";
@import "../components/Safety/Safety";
@import "../components/CTA/CTA";

h2.heading-section{
  font-family: Conthrax;
  color: $text-primary;
  font-size: $heading-size;
  @media screen and (max-width: 786px) {
    font-size: $heading-size-mobile;
  }
}

p, h2[data-testid="flowbite-accordion-heading"]{
  font-family: Gotham;
  font-size: $paragraph-size;
  font-weight: $font-weight-light;
}

html{
  scroll-behavior: smooth;
  white-space: pre-line;
}
