$primary: #0068B0;
$secondary: white;
$text-primary: black;
$text-secondary: #828282;


$heading-size: 2.5rem;
$paragraph-size: 1.125rem;
$subheading-size: 1.5rem;


$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 400;

$container-margin: 100px;

