.brand-slogan{
  padding: 50px 0;
  background: url("../images/quotes.png") no-repeat center;
}

.safety-section{
  padding: 50px 100px 50px 100px;
  border-radius: 100px 0 0 0;
  margin-left: 100px;
  box-shadow: -4px 8px 20px 4px #0000001A;
  border: 1px solid #EBEBEB;
}