.why-us-section{
  .why-us-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    @media screen and (max-width: 970px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 375px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .why-us-item{
    border-radius: 15px;
    transition: all ease 0.3s;
    .why-us-item-content{
      min-height: 300px;
      @media screen and (max-width: 375px) {
        min-height: auto;
      }
    }

    img{
      aspect-ratio: 6/5;
      object-fit: cover;
      width: 100%;
      border-radius: 15px 15px 0 0;
      @media screen and (max-width: 786px){
        width: 100%;
      }
    }

    &:hover{
      box-shadow: -4px 8px 20px 4px #0000001A;
      cursor: pointer;
      h4{
        color: $primary;
        font-weight: $font-weight-bold;
      }
    }
  }
}
