.faq-section{
  box-shadow: -4px 8px 20px 4px #0000001A;
  padding: 50px 20px;
  @media screen and (min-width: 786px) {
    padding: 50px 100px;
  }

  .faq-answers p{
    font-weight: $font-weight-bold;
    color: black;
  }
}
