footer{
  h3{
    font-family: Conthrax, sans-serif;
    color: $primary;
    font-size: $heading-size;
  }

  h4{
    font-family: Gotham, sans-serif;
    color: $text-secondary;
    font-weight: $font-weight-normal;
    letter-spacing: 0.05px;
    font-size: $paragraph-size;
  }

  p, a{
    font-family: Gotham, sans-serif;
    font-weight: $font-weight-light;
    font-size: 1rem;

    &.opacity{
      color: rgba(0,0,0,0.3);

      .hide-on-desktop{
        display: none;
        @media screen and (max-width: 1024px) {
          display: flex;
          flex-direction: column;
        }

        a{
          display: flex;
          gap: 10px;
          flex-direction: column;
        }
      }
    }
  }

  .google-map {
    iframe{
      min-width: 484px;
      width: 45vw;
      @media screen and (max-width: 900px) {
        width: 100%;
        min-width: unset;
        height: 50vh;
      }
    }
  }

  .google-map,.info{
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .footer-description{
    &--wrapper{
      //flex columns-2 gap-5 md:flex-row flex-col
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
    }

    &--address{
      //pr-4 w-1/2 md:border-r-[1px] border-[#828282] flex flex-col justify-between
      display: flex;
      flex-direction: column;
      padding-right: 36px;
      border-right: 1px solid #828282;

      @media screen and (max-width: 1024px) {
        border: none;
        width: 100%;
      }
    }

    &--contact{
      padding-left: 36px;
      gap: 10px;
      @media screen and (max-width: 1024px) {
        display: none;
      }
      a{
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  .footer-layout{
    flex-direction: row;
    gap: 42px;
    padding: 44px 0;
    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }

  .zalo-qr{
    width: 10vh;
    height: 10vh;
  }
}
